.blue {color: blue;}
.header {width: 100%; height: 5%;}
h1 {color: rgb(0, 97, 52)} 
body {color: rgb(0, 165, 138);}

.box {
    height: 200px;
    width: 200px;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background-color: rgb(121, 110, 202);
}
.box2 {
    height: 5%;
    width: 100%;
   position: relative;
}
.box3 {
    position: center;
    height:5% ;
    width: 500px;
}
.fonts {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}